.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    flex-wrap: wrap;
    border-radius: 0;
    background-position: center;
    background-repeat: none;
background-size: cover;
color:white;

    h2{
        
        font-size: 28px; 
        margin: 3px;
    }

    button{
        margin: 25px;
        border: none;
        padding: 12px 28px;
        background-color: black;
        color: white;
        transition: 200ms;
        &:hover{
            transform: scale(0.95);
            transition: 200ms;
        }
    }
}

.container{
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gradient{
    position: absolute;
    background-color: rgba(42, 41, 41, 0.109);

}