.flex-2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: center;
    height: 80%;
  
}

.flex-2__col{ 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}