* {
  font-family: "Gilroy";
}

.button {
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 20px 50px;
  margin: 20px 20px;
  transition: 200ms;
  &:hover {
    background-color: rgb(46, 46, 46);
    transition: 200ms;
    cursor: pointer;
    transform: scale(0.95);
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.global {
  position: relative;
}

.fixed {
  display: none;
}

.absolute {
  position: absolute;
  top: 5px;
  left: 5px;
}
.button-small {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 13px;
  &:hover{
    cursor: pointer;
    background-color: rgb(26, 26, 26);
  }
}

